.comm-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  .wrap {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    .l {
      width: 30%;
      text-align: left;
      font-size: 20px;
    }
    .r {
      .ant-menu-horizontal {
        border-bottom: 0;
      }
    }
  }
}